html, body {
    height: 100%;
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrousel{
    width: 90%;
    max-width: 120em;
    background-color: gray;
    box-shadow: 8px 8px 8px #7423234f;
    border-radius: .4em;
}

.carrousel .big {
    width: 800%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 8px 8px 8px #2924244f;
    border-radius: .4em;
    transition: all .5s ease;
    transform: translateX(0%);
}

.carrousel .img {
    width: calc(100% / 8 -2em);
    min-height: 10vh;
    box-shadow: 8px 8px 8px #2924244f;
    border-radius: .4em;
}

.carrousel .puntos {
    width: 100%;
    margin: 1em;
    padding: .4em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.carrousel .punto {
    list-style: none;
    border-radius: 4em;
    width: 2em;
    height: 2em;
    margin: .2em 1em 0;
    box-shadow: 8px 8px 8px #2924244f;
}

.carrousel .punto.activo {
    background: linear-gradient(65deg, rgb(149, 5, 5), rgb(166, 141, 4));
}